@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;

    /*
        ao definir o box-sizing como border-box se tivermos um elemento com 200px de largura e 
        colocarmos um padding de 20px nas suas laterais, o elemento não passará a ter 240px de largura
        e sim 160px
    */

    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;

    /*
        melhora a visualização da fonte no google chrome
    */
    -webkit-font-smoothing: antialiased;
}

/*
    não pegam a fonte que foi definida no body
*/
input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;
}

form textarea {
    width: 100%;
    resize: vertical;
    min-height: 140px;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}

.button {
    width: 100%;
    height: 60px;
    background: #e02041;
    border: 0;
    border-radius: 8px;
    color:#FFF;
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;

    /*
        o filter levará 0.2 segundos para ser aplicado
    */ 
    transition: filter 0.2s;
}

/* ao passar o mouse sobre o botão, o botão escurece 10% */

.button:hover {
    filter: brightness(90%);
}

.back-link {
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

/*
    os ícones do react-icons sempre estão no formato svg, por isso se eu quiser aplicar uma
    margem neles tenho que acessar o svg a partir do ícone
*/
.back-link svg {
    margin-right: 8px;
}

.back-link:hover {
    opacity: 0.8;
}