/* h1 {
    color: #7159c1;
} */

.logon-container {
    width: 100%;
    max-width: 1120px;
    /* para ocupar toda a altura do corpo */
    height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center; /* alinha os itens verticalmente */
    justify-content: space-between;
    /* justify-content: center; alinha os itens horizontalmente */
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 100px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}